:host ::ng-deep .md-drppicker .btn {
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    padding: 2px 10px;

    background: linear-gradient(to right, #7c3aed, #4f46e5);
    color: #ffffff;

    box-shadow: 0 4px 10px rgba(168, 85, 247, 0.3);

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

:host ::ng-deep .md-drppicker .btn.btn-default {
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    padding: 2px 10px;

    background: none !important;
    background-color: red !important;
    color: #ffffff;

    box-shadow: 0 4px 10px rgba(168, 85, 247, 0.3);

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

:host ::ng-deep .md-drppicker .btn.btn-default svg {
    display: none;
}

:host ::ng-deep .md-drppicker .buttons_input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

:host ::ng-deep .ngx-pagination .current {
    background: linear-gradient(to right, #411986, #4f46e5);
    color: #fff;
    border-radius: 4px;
}

:host ::ng-deep .ngx-pagination * {
    font-size: 1rem;
}

:host ::ng-deep .ngx-pagination {
    display: flex;
    gap: 0.5rem;
}

:host ::ng-deep .ngx-pagination li::before {
    content: none !important;
}

:host ::ng-deep .ngx-pagination li a::before {
    content: none !important;
}

:host ::ng-deep .ngx-pagination li::after {
    content: none !important;
}

:host ::ng-deep .ngx-pagination li a::after {
    content: none !important;
}

:host ::ng-deep .ngx-pagination .pagination-previous a {
    border-radius: 20px 0 0 20px;
    background: linear-gradient(to right, #4f46e5, #411986);
    color: #ffffff;
}

:host ::ng-deep .ngx-pagination .disabled {
    background: gray;
    color: #ffffff;
}

:host ::ng-deep .ngx-pagination .pagination-next a {
    border-radius: 0 20px 20px 0;
    background: linear-gradient(to right, #411986, #4f46e5);
    color: #ffffff !important;
}

:host ::ng-deep .ngx-pagination .pagination-previous.disabled {
    border-radius: 20px 0px 0px 20px;
    background: gray;
    color: #ffffff !important;
}

:host ::ng-deep .ngx-pagination .pagination-next.disabled {
    border-radius: 0 20px 20px 0;
    background: gray;
    color: #ffffff !important;
}