/*** Dialog Opening Buttons ***/

.submit-btn {
    width: 100%;
    padding: 0.75rem 0;
    border-radius: 0.75rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border: none;

    background: linear-gradient(to right, #4f46e5, #9333ea);

    box-shadow: 0 10px 20px rgba(99, 102, 241, 0.3);

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease,
        opacity 0.2s ease;
}

/* Hover effects */
.submit-btn:hover:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0 15px 25px rgba(99, 102, 241, 0.4);
}

/* Disabled state */
.submit-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Prevent hover lift when disabled */
.submit-btn:disabled:hover {
    transform: translateY(0);
    box-shadow: 0 10px 20px rgba(99, 102, 241, 0.3);
}

.edit-btn {
    width: 100%;
    padding: 0.75rem 0;
    border-radius: 0.75rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border: none;

    background: #f0b100;

    box-shadow: 0 10px 20px rgba(99, 102, 241, 0.3);

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease,
        opacity 0.2s ease;
}

/* Hover effects */
.edit-btn:hover:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0 15px 25px rgba(99, 102, 241, 0.4);
}

/* Disabled state */
.edit-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Prevent hover lift when disabled */
.edit-btn:disabled:hover {
    transform: translateY(0);
    box-shadow: 0 10px 20px rgba(99, 102, 241, 0.3);
}

.delete-btn {
    width: 100%;
    padding: 0.75rem 0;
    border-radius: 0.75rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border: none;

    background: #e7000b;

    box-shadow: 0 10px 20px rgba(99, 102, 241, 0.3);

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease,
        opacity 0.2s ease;
}

/* Hover effects */
.delete-btn:hover:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0 15px 25px rgba(99, 102, 241, 0.4);
}

/* Disabled state */
.delete-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Prevent hover lift when disabled */
.delete-btn:disabled:hover {
    transform: translateY(0);
    box-shadow: 0 10px 20px rgba(99, 102, 241, 0.3);
}